{{#*inline "content"}}
    <div class="p-8 prose dark:prose-dark">
        <h3>Work in Progress</h3>
        <a href="/">Test link color</a> and some more text.
    </div>
{{/inline}}
{{~> layouts/app_layout title="Home" ~}}
