{{#*inline "content"}}
    <p>{{#if user_name}}{{user_name}}{{/if}}</p>
    <p>
        {{#if user_name}}
            <a href="/github_oauth2/logout">logout</a>
        {{else}}
            <a href="/github_oauth2/login">login</a>
        {{/if}}
    </p>
{{/inline}}
{{~> layouts/app_layout sub_title="Home" nav_home_active=true ~}}
