<!DOCTYPE html>
<html lang="en" class="dark nojs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }} - {{ sub_title }}</title>

    <link href="/static/css/styles.min.css" rel="stylesheet">
    <script>
        let default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
        let theme;
        try { theme = localStorage.getItem('minipress-theme'); } catch(e) { }
        if (theme === null || theme === undefined) { theme = default_theme; }
        let html = document.querySelector('html');
        html.classList.remove('dark')
        html.classList.add(theme);
        html.classList.remove('nojs');
        html.classList.add('js');
    </script>

</head>

<body class="flex flex-col items-stretch h-screen text-gray-700 dark:text-gray-300">
    {{> layouts/navbar }}

    <div class="bg-gray-200 dark:bg-gray-700 flex-grow">
        {{~> content }}
    </div>

    {{> components/dropdown_script }}
</body>
</html>
