<a
    class="
        text-gray-700 dark:text-gray-400 font-bold
        inline-flex items-center px-4
        hover:text-gray-500 dark:hover:text-gray-300
        hover:text-glow
    "
    href="{{ href }}"
>
    {{ text }}
</a>
