<input class="hidden" type="checkbox" id="show_nav" autocomplete="off">
<div class="absolute top-0 bottom-0 left-0 flex flex-col w-64 max-w-4/5 mt-12 bg-gray-200
        dark:bg-gray-800 shadow sm:hidden z-40 transition-transform duration-200">
    <a href="/" class="nav-link">Home</a>
    <a href="/about" class="nav-link">About</a>
</div>
